@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}




/* styles/globals.css */
.bg-hover-slow-transition {
  background: linear-gradient(to right, teal 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 2s ease;
}

.bg-hover-slow-transition:hover {
  background-position: left bottom;
  color: black;
}



